<!-- <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of formFields">
        <label [attr.for]="field.name">{{ field.label }}</label>


        <ng-container [ngSwitch]="field.type">
            <input *ngSwitchCase="'text'" [formControlName]="field.name" [attr.type]="field.type">
            <input *ngSwitchCase="'checkbox'" [formControlName]="field.name" [attr.type]="field.type">
        </ng-container>

    </div>

    <button type="submit" [disabled]="dynamicForm.invalid">Submit</button>
</form> -->

<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" *ngIf="data">
    <div formArrayName="fields">
      <div *ngFor="let field of fields.controls; let i = index">
        <ng-container [ngSwitch]="field.value.type">
          <div *ngSwitchCase="'text'">
            <label>{{ field.value.label }}</label>
            <input type="text" [formControlName]="i">
          </div>
          <div *ngSwitchCase="'email'">
            <label>{{ field.value.label }}</label>
            <input type="email" [formControlName]="i">
          </div>
          <!-- Add more cases for different field types if needed -->
        </ng-container>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>